@charset "UTF-8";

html, body {
	user-select: none;
}
.md-errors-spacer {
	display: none;
}
main.flex {
	overflow-y: auto;
}
md-checkbox .md-label {
	margin-top: 12px;
}
md-card > md-card-title {
	font-weight: bold;
	padding: 8px;
}
md-card > md-card-content {
	padding: 8px;
}
md-card.sysinfoCard {
	position: relative;
	background-color: #ddd;
	margin-bottom: 10px;
}
md-card.sysinfoCard > md-card-content > md-card {
	margin: 0px 0px 10px;
}
md-card.sysinfoCard > md-card-content > md-card:last-of-type {
	margin-bottom: 0px;
}
md-input-container {
	margin-bottom: 8px;
}
form > .layout-row:last-child > md-input-container {
	margin-bottom: 0px;
}
.logoContainer {
	position: relative;
	margin: 0px;
}
.logoImg {
	float: right;
	max-width: 100%;
	max-height: 48px;
}
#cpuLogoImg {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	max-width: initial;
	max-height: initial;
}
body[dir="ltr"] .logoImg {
	right: 16px;
}
body[dir="rtl"] .logoImg {
	left: 16px;
}
.logoImg.os {
	max-height: 40px;
}
.reloadBtn {
	width: 24px !important;
	height: 24px !important;
	line-height: initial !important;
	min-height: initial;
	margin: 0px;
	padding: 0px;
}
.reloadBtn > md-icon {
	width: 12px;
	height: 12px;
	line-height: initial;
	min-height: initial;
}
body[dir="rtl"] #settingsBtn {
	margin-left: 8px;
}
#appFooter > md-toolbar {
	background-color: transparent;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	color: #000;
}
.footerText {
	font-size: 14px;
}
#settingsCard > md-card-content > md-checkbox {
	width: 100%;
}
#settingsCard > md-card-content > div.layout-row {
	padding: 8px 3px 15px 0px;
}
#settingsCard > md-card-content > div.layout-row > md-select {
	height: 25px;
}
