<div ng-controller="SettingsCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 flex md-trucate>{{ $parent.langStrings.settings }}</h2>
			<md-button class="md-icon-button">
				<md-icon md-svg-icon="./imgs/close.svg" ng-click="closeSettings()"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-card id="settingsCard">
			<md-card-content>

				<div layout="row" layout-align="space-between center">
					<span>{{ $parent.langStrings.language }}</span>
					<md-select
						class="md-no-underline"
						ng-model="settings.language"
						aria-label="Language"
					>
						<md-option
							ng-repeat="(key, val) in settings.langsMenu"
							value="{{ key }}"
						>{{ val }}</md-option>
					</md-select>
				</div>

				<div layout="row">
					<div layout="column" flex="50">
						<md-checkbox layout="row" ng-model="settings.show_tab_cpu">{{ $parent.langStrings.cpu }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_ram">{{ $parent.langStrings.ram }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_gpu">{{ $parent.langStrings.gpu }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_audio">{{ $parent.langStrings.audio }}</md-checkbox>
					</div>
					<div layout="column" flex="50">
						<md-checkbox layout="row" ng-model="settings.show_tab_system">{{ $parent.langStrings.system }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_opsys">{{ $parent.langStrings.opsys }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_storage">{{ $parent.langStrings.storage }}</md-checkbox>
						<md-checkbox layout="row" ng-model="settings.show_tab_battery">{{ $parent.langStrings.battery }}</md-checkbox>
					</div>
				</div>

			</md-card-content>
		</md-card>
	</md-content>
</div>
