<md-content ng-controller="OperatingSystemCtrl">

	<md-card class="sysinfoCard">
		<md-card-title>
			<md-card-title-text>{{$parent.langStrings.info}}</md-card-title-text>
			<img class="logoImg os" ng-src="{{$parent.sysinfo.opsys.info.logo}}">
		</md-card-title>
		<md-card-content>
			<md-card class="md-padding">
				<form>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{$parent.langStrings.name}}</label>
							<input type="text" ng-model="$parent.sysinfo.opsys.info.name" readonly>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{$parent.langStrings.version}}</label>
							<input type="text" ng-model="$parent.sysinfo.opsys.info.version" readonly>
						</md-input-container>
					</div>
				</form>
			</md-card>
		</md-card-content>
	</md-card>

</md-content>
