<md-content ng-controller="GraphicsCtrl">

	<!-- gpus -->
	<md-card class="sysinfoCard">
		<md-card-title>{{ $parent.langStrings.gpus_installed }}</md-card-title>
		<md-card-content>
			<md-card ng-repeat="item in $parent.sysinfo.gpu.list" class="md-padding">
				<form>
					<div layout="row">
						<md-input-container class="md-block flex" flex="66">
							<label>{{ $parent.langStrings.make }}</label>
							<input type="text" ng-model="item.make" readonly>
						</md-input-container>
						<md-input-container class="md-block flex logoContainer" ng-if="item.logo">
							<img class="logoImg" ng-src="{{ item.logo }}">
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block flex" flex="66">
							<label>{{ $parent.langStrings.model }}</label>
							<input type="text" ng-model="item.model" readonly>
						</md-input-container>
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.ram }}</label>
							<input type="text" ng-model="item.ram" readonly>
						</md-input-container>
					</div>
				</form>
			</md-card>
		</md-card-content>
	</md-card>

	<!-- displays -->
	<md-card class="sysinfoCard">
		<md-card-title>{{ $parent.langStrings.monitors }}</md-card-title>
		<md-card-content>
			<md-card ng-repeat="item in $parent.sysinfo.display.list" class="md-padding">
				<form>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.make }}</label>
							<input type="text" ng-model="item.make" readonly>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.model }}</label>
							<input type="text" ng-model="item.model" readonly>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.connection }}</label>
							<input type="text" ng-model="item.connection" readonly>
						</md-input-container>
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.refresh }}</label>
							<input type="text" ng-model="item.refresh" readonly>
						</md-input-container>
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.pixel_depth }}</label>
							<input type="text" ng-model="item.pixel_depth" readonly>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.resolution_curr }}</label>
							<input type="text" ng-model="item.res_curr" readonly>
						</md-input-container>
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.resolution_max }}</label>
							<input type="text" ng-model="item.res_max" readonly>
						</md-input-container>
						<md-input-container class="md-block flex">
							<label>{{ $parent.langStrings.size }}</label>
							<input type="text" ng-model="item.phy_size" readonly>
						</md-input-container>
					</div>
				</form>
			</md-card>
		</md-card-content>
	</md-card>

</md-content>
